<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [4]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [5]:
df = pd.read_csv('../data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [6]:
df.head(155)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
8,21914,1,151,67.0,120,80,2,2,0,0,0,0
9,22113,1,157,93.0,130,80,3,1,0,0,1,0
12,22584,2,178,95.0,130,90,3,3,0,0,1,1
13,17668,1,158,71.0,110,70,1,1,0,0,1,0
14,19834,1,164,68.0,110,60,1,1,0,0,0,0
15,22530,1,169,80.0,120,80,1,1,0,0,1,0
16,18815,2,173,60.0,120,80,1,1,0,0,1,0
18,14791,2,165,60.0,120,80,1,1,0,0,0,0
21,19809,1,158,78.0,110,70,1,1,0,0,1,0
23,14532,2,181,95.0,130,90,1,1,1,1,1,0
24,16782,2,172,112.0,120,80,1,1,0,0,0,1
25,21296,1,170,75.0,130,70,1,1,0,0,0,0
27,16747,1,158,52.0,110,70,1,3,0,0,1,0
28,17482,1,154,68.0,100,70,1,1,0,0,0,0
29,21755,2,162,56.0,120,70,1,1,1,0,1,0
30,19778,2,163,83.0,120,80,1,1,0,0,1,0
31,21413,1,157,69.0,130,80,1,1,0,0,1,0
32,23046,1,158,90.0,145,85,2,2,0,0,1,1
33,23376,2,156,45.0,110,60,1,1,0,0,1,0
35,16608,1,170,68.0,150,90,3,1,0,0,1,1
36,14453,1,153,65.0,130,100,2,1,0,0,1,0
37,19559,1,156,59.0,130,90,1,1,0,0,1,0
38,18085,1,159,78.0,120,80,1,1,0,0,1,0
39,14574,2,166,66.0,120,80,1,1,0,0,1,0
40,21057,2,169,74.0,130,70,1,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,19656,2,153,47.0,130,80,3,1,1,0,1,0
171,21145,1,170,66.0,120,80,1,1,0,0,0,0
172,21865,1,152,67.0,160,90,1,1,0,0,0,1
173,22111,1,176,74.0,120,80,1,1,0,0,1,1
174,18276,1,159,84.0,160,100,1,1,0,0,1,1
175,21987,2,169,59.0,130,80,1,1,0,0,0,1
176,20442,2,170,65.0,120,80,1,1,0,0,1,0
177,22585,2,164,84.0,150,89,2,2,0,0,1,0
178,21259,2,160,57.0,110,80,2,1,0,0,1,0
180,21473,2,174,90.0,140,80,1,1,1,1,0,1
182,20393,1,161,67.0,120,80,1,1,0,0,1,1
183,17213,1,153,50.0,120,80,1,1,0,0,1,0
184,22536,2,184,82.0,130,80,1,1,0,0,1,0
185,16889,1,156,60.0,120,80,1,1,0,0,1,0
186,18283,1,170,60.0,120,80,1,1,0,0,1,0
189,19529,1,158,55.0,120,90,1,1,0,0,1,0
190,22019,1,165,55.0,140,80,1,1,0,0,1,1
191,23376,2,169,73.0,140,90,1,1,0,0,1,1
192,21857,2,169,58.0,110,80,1,1,0,0,1,1
196,16728,2,178,91.0,120,80,1,1,0,0,0,1
197,18461,1,152,57.0,120,80,1,1,0,0,1,0
199,18068,1,160,90.0,130,90,1,1,0,1,1,0
200,23470,2,166,69.0,130,90,2,1,0,0,1,1
201,20395,1,164,70.0,120,70,1,1,0,0,1,0
202,17473,1,162,71.0,110,80,1,1,0,0,0,0
203,16017,2,167,82.0,120,80,3,3,0,0,0,1
204,21695,1,160,67.0,120,60,1,1,0,0,1,1
206,20533,2,169,79.0,120,80,2,2,1,0,1,0
207,20465,2,168,72.0,120,80,1,1,0,0,0,1
208,18912,1,167,80.0,140,80,1,1,0,0,1,1

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [7]:
df[df['gender'] == 1]['height'].median(), \
df[df['gender'] == 2]['height'].median(), \
df[df['gender'] == 1]['height'].mean(), \
df[df['gender'] == 2]['height'].mean()
#['gender'] == 1 - девушки

(161.0, 170.0, 161.35561168460356, 169.94789538210054)

In [8]:
df[df['gender'] == 1]['gender'].count(), \
df[df['gender'] == 2]['gender'].count()
#45530 девушек

(45530, 24470)

In [9]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [10]:
df[(df['gender'] == 2) & (df['alco'] == 1)]['alco'].count(),\
df[(df['gender'] == 1) & (df['alco'] == 1)]['alco'].count()
#мужчины

(2603, 1161)

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [11]:
(df[(df['gender'] == 2) & (df['smoke'] == 1)]['smoke'].count() / df[(df['gender'] == 2)]['gender'].count() * 100) / (df[(df['gender'] == 1) & (df['smoke'] == 1)]['smoke'].count() / df[(df['gender'] == 1)]['gender'].count() * 100)

12.257833097333833

In [12]:
df[(df['gender'] == 2)]['gender'].count()

24470

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [13]:
(df[(df['smoke'] == 0)]['age']/30).median() - (df[(df['smoke'] == 1)]['age']/30).median()

19.899999999999977

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [16]:
#df['age'] = df['age'] / 365
df[(df['gender'] == 2) & (df['smoke'] == 1) & (df['age'] >=60) & (df['age'] <=64) & (df['ap_hi'] < 120) & (df['cholesterol'] == 1)]['cardio'].value_counts()

0    34
1    13
Name: cardio, dtype: int64

In [17]:
df[(df['gender'] == 2) & (df['smoke'] == 1) & (df['age'] >=60) & (df['age'] <=64) & (df['ap_hi'] <= 180) & (df['ap_lo'] >= 160) & (df['cholesterol'] == 3)]['cardio'].value_counts()
#2,6153846153846153846153846153846 ~= 3 ???????????

1    5
Name: cardio, dtype: int64

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [18]:
df['BMI'] = df['weight']/((df['height']/100) * (df['height']/100))

In [19]:
df['BMI'].median()
#Медианный BMI по выборке лежит в пределах нормы - НЕТ

26.374068120774975

In [20]:
df[df['gender'] == 1]['BMI'].mean(), \
df[df['gender'] == 2]['BMI'].mean()
#У женщин в среднем BMI выше, чем у мужчин - ДА

(27.98758344183312, 26.754442357289474)

In [21]:
df[df['cardio'] == 0]['BMI'].mean(), \
df[df['cardio'] == 1]['BMI'].mean()
#У здоровых в среднем BMI выше, чем у больных - НЕТ

(26.54817520679475, 28.566060627015435)

In [22]:
df[(df['cardio'] == 0) & (df['gender'] == 2) & (df['alco'] == 0)]['BMI'].mean(), \
df[(df['cardio'] == 0) & (df['gender'] == 1) & (df['alco'] == 0)]['BMI'].mean()
#В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин - Да

(25.872638075460173, 26.845406594131518)

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [30]:
df[(df['ap_lo'] > df['ap_hi'])]['ap_lo'].count()

1234

In [55]:
s = df['height']
#print(s)
print(s.quantile(0.025))
print(s.quantile(0.95))
#df[(df['height'] > s.quantile(0.95))]['height']
df[(df['height'] > s.quantile(0.95)) | (df['height'] < s.quantile(0.025))]['height'].count()

150.0
178.0

4273

In [61]:
sw = df['weight']
print(sw.quantile(0.025))
print(sw.quantile(0.95))
df[(df['weight'] > sw.quantile(0.95)) | (df['weight'] < sw.quantile(0.025))]['weight'].count()

51.0
100.0

4741

In [63]:
((1234+4273+4741)/(df['gluc'].count()))*100

14.640000000000001

In [64]:
df['gluc'].count()

70000